
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>修改密码</h2>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-primary" onclick="savePassword()">保存</button>
        <hr />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <form role="form">
                    <div class="form-group">
                        <label>旧密码</label>
                        <input type="password" class="form-control" id="txtOldPassword" placeholder="旧密码">
                    </div>
                    <div class="form-group">
                        <label>新密码</label>
                        <input type="password" class="form-control" id="txtNewPassword" placeholder="新密码">
                    </div>
                    <div class="form-group">
                        <label>重新输入新密码</label>
                        <input type="password" class="form-control" id="txtNewPasswordRe" placeholder="重新输入新密码">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function savePassword() {
            var newPassword = $('#txtNewPassword').val();
            var newPasswordRe = $('#txtNewPasswordRe').val();
            var oldPassword = $('#txtOldPassword').val();

            if (newPassword != newPasswordRe) {
                alert("两次输入新密码不一致");
                return false;
            }

            $.ajax({
                type: 'post',
                datatype: 'json',
                url: '@Url.Action("SavePassword")',
                data: {
                    oldPassword: oldPassword,
                    newPassword: newPassword
                },
                success: function (result) {
                    alert(result.msg);
                    if (result.res == 1) {
                        window.location.href = '@Url.Action("Index", "Login")';
                    }
                }
            })
        }
    </script>
}
